* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.encabezado {
  height: 100px;
  color: #fff;
  background-color: #DBA39A;
  box-shadow: inset 0 0 3px #F0DBDB;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}
.encabezado .logo img {
  float: left;
  margin-left: 25px;
  height: 100px;
  width: 150px;
}
.encabezado .barra {
  float: right;
}
.encabezado ul li {
  display: inline-block;
  margin: 25px;
  list-style: none;
}
.encabezado ul li a {
  text-decoration: none;
  color: #F5EBE0;
}
.encabezado ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
}
main .banner {
  background-image: url(../imagenes/m.spring.post.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: calc(100vh - 100px);
  width: 100%;
}
main .nosotros {
  background-image: url(../imagenes/m.spring.post.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 30px;
  font-family: "Oswald", sans-serif;
}
main .nosotros .texto1 {
  border: 1.5px solid #F5EBE0;
  background-color: #DBA39A;
  text-align: center;
}
main .nosotros h2 {
  font-size: 25px;
  text-decoration: underline;
  margin-top: 10px;
}
main .nosotros p {
  font-size: 20px;
  padding: 15px;
}
main .productos {
  background-image: url(../imagenes/m.spring.post.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 40px;
}
main .productos .texto2 {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  background-color: #DBA39A;
  text-align: center;
}
main .productos .galeria {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 250px);
}
main .productos .galeria .item {
  height: 250px;
  width: 100%;
  border: 1px solid #F5EBE0;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}
main .productos .galeria .item:hover {
  filter: grayscale(0%);
  transition: all 1s;
}
main .productos .galeria .item1 {
  background-image: url(../imagenes/m.marroc.post.jpg);
}
main .productos .galeria .item2 {
  background-image: url(../imagenes/m&c.wedding.post.jpg);
}
main .productos .galeria .item3 {
  background-image: url(../imagenes/c.valentinsday.post.jpg);
}
main .productos .galeria .item4 {
  background-image: url(../imagenes/c.mapache.post.jpg);
}
main .productos .galeria .item5 {
  background-image: url(../imagenes/c.fox&bear.post.jpg);
}
main .productos .galeria .item6 {
  background-image: url(../imagenes/c&m.valentinesday.post.jpg);
}
main .productos .galeria .item7 {
  background-image: url(../imagenes/c.valentinesday.near.post.jpg);
}
main .productos .galeria .item8 {
  background-image: url(../imagenes/brow&m.post.jpg);
}
@media screen and (min-width: 375px) and (max-width: 600px) {
  main .productos .galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 250px);
  }
}
@media screen and (min-width: 599px) and (max-width: 1000px) {
  main .productos .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 250px);
  }
}
main .gratis {
  height: calc(100vh - 100px);
  width: 100%;
  background-image: url(../imagenes/m.spring.post.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 30px;
}
main .gratis .texto3 {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 20px;
  margin: 10px;
  color: #F5EBE0;
}
main .gratis .video {
  text-align: center;
  padding: 0;
}
main .contacto {
  height: calc(100vh - 70px);
  width: 100%;
  text-align: left;
  background-color: #F0DBDB;
  padding: 25px;
  font-family: "Oswald", sans-serif;
}
main .contacto h2 {
  font-size: 25px;
  text-decoration: underline;
}
main .contacto .formulario {
  padding: 10px;
  display: grid;
  text-align: center;
}

footer {
  height: 80px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #DBA39A;
  color: #fff;
  text-align: center;
  font-size: 16px;
  box-shadow: inset 0 0 3px #F5EBE0;
}
footer p {
  margin: 0;
  font-family: "Oswald", sans-serif;
}
footer i {
  font-size: 30px;
  color: #fff;
  letter-spacing: 15px;
  margin-top: 0;
}

.subir {
  position: fixed;
  bottom: 100px;
  right: 40px;
  font-size: 35px;
  border-radius: 40px;
  color: #DBA39A;
}

.subir:hover {
  color: #F5EBE0;
}/*# sourceMappingURL=style.css.map */